@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montez&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Whisper&family=WindSong&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-white: hsl(0, 100%, 100%);
    --clr-purple-100: hsl(275, 100%, 97%);
    --clr-purple-600: hsl(292, 16%, 49%);
    --clr-purple-950: hsl(292, 42%, 14%);

    --fs-body: 16px;
    --ff-main: "Work Sans", sans-serif;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

/* reset */ 
*,
*::before,
*::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--clr-purple-100);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: var(--ff-main);
    min-height: 100vh;
    display: grid;
    place-content: center;
}


.container {
    max-width: 35em;
    background-color: var(--clr-white);
    padding: 1.5em;
    border-radius: 3%;
    box-shadow: 0 4px 10px #d6cedb;
}

.faq-headline {
    display: flex;
    gap: 1em;
    padding: 1em;
}

h1 {
    font-size: 3em;
    font-weight: var(--fw-700);
    color: var(--clr-purple-950);
}

summary {
    display: flex;
    list-style: none;
    color: var(--clr-purple-950);
    font-weight: var(--fw-600);
    margin: 1.3em;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 2em;
}

summary::after {
    content: url(assets/images/icon-plus.svg);
}

summary:hover {
    color: #9D5EB8;
}

details[open] summary::after {
  content: url("assets/images/icon-minus.svg");
}

p {
    color: #ae9ab0;
    padding: 0.7em 1.3em;
    line-height: 1.4em;
}

hr {
    background-color: #FAFAFA ;
    height: 0.6px;
    border: none;
    margin:  0.3em 1.3em;
}


footer {
    margin: 1em 1.3em;
}